# Global
venv
.vscode

# Backend
backend/db.sqlite3
backend/users/migrations
backend/todos/migrations
backend/static
__pycache__/

# Frontend
frontend/.next
frontend/.env
frontend/.eslintrc
frontend/node_modules
frontend/public

# Docker
docker-compose.yml

# Git
.gitignore