.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialogcontainer {
  width: 70%;
  max-width: 900px;
  height: 50%;
  border-radius: 20px;
  padding: 30px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.dialog {
  width: 100%;
  height: 100%;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dialogtitle {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

.dialogelement {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  margin: 5px;
  padding-top: 15px;
  border-top: 1px rgba(0, 0, 0, 0.1) solid;
}

.dialogelement label {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.inputtitle {
  align-self: center;
  width: 98%;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  border: 1px rgba(0, 0, 0, 0.5) solid;
  font-size: 18px;
  font-weight: bold;
}
