.container {
  position: relative;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  background-color: rgb(32, 43, 48);
  color: white;
  min-height: 70px;
  height: 70px;
  box-shadow: 0 0 2px black;
}

.logo {
  grid-column: 1;
  align-self: center;
  justify-self: center;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.menubutton {
  display: none;
}

.links {
  grid-column: 2;
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  text-transform: uppercase;
}

.links a {
  text-align: center;
  padding: 10px;
  width: 120px;
  transition: all 0.2s ease;
  cursor: pointer;
  font-weight: bold;
  border: 2px rgba(32, 43, 48, 0) solid;
}

.links a:hover {
  border: 2px rgba(255, 255, 255, 1) solid;
  box-shadow: 0 0 2px white;
}

.account {
  grid-column: 3;
  align-self: center;
  justify-self: flex-end;
  margin-right: 20px;
}

.account .btn1 {
  margin: 5px;
  border: none;
  padding: 10px;
  width: 120px;
  background-color: transparent;
  border: 2px white solid;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}

.account .btn1:hover {
  background-color: white;
  color: rgb(32, 43, 48);
  box-shadow: 0 0 5px white;
}

.account .btn2 {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 20px;
}

.account .btn2:hover {
  background-color: white;
  color: rgb(32, 43, 48);
  box-shadow: 0 0 5px white;
}

.avatar {
  box-shadow: 0 0 20px black;
}

.menubutton {
  display: none;
}

@media screen and (max-width: 934px) {
  .container {
  }
}

@media screen and (max-width: 640px) {
  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
  }

  .links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    top: 70px;
    left: 0;
    height: 100vh;
    padding: 10px 0px;
    background-color: rgba(37, 49, 54, 0.97);
    transition: all 0.2s ease-in-out;
    transform: translateX(-100px);
    visibility: hidden;
    opacity: 0;
    z-index: 1;
  }

  .linksactive {
    transform: translateX(0px);
    visibility: visible;
    opacity: 1;
  }

  .links a {
    text-align: center;
    padding: 10px;
    width: 97%;
    transition: all 0.2s ease;
    cursor: pointer;
    font-weight: bold;
    border: none;
    background-color: rgba(46, 61, 66, 0.95);
    border-radius: 3px;
  }

  .account {
    margin: 0;
  }

  .menubutton {
    display: block;
  }

  .signbuttons {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    top: calc(100vh - 60px);
    display: none;
  }

  .account .btn1 {
    width: 25%;
    font-size: 18px;
    transition: all 0.2s ease;
  }
}
