.container {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  background-color: rgb(32, 43, 48);
  color: white;
  min-height: 70px;
  height: 70px;
  box-shadow: 0 0 2px black;
}

.logo {
  grid-column: 1;
  align-self: center;
  justify-self: center;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.links {
  grid-column: 2;
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  text-transform: uppercase;
}

.links a {
  text-align: center;
  padding: 10px;
  width: 120px;
  transition: all 0.2s ease;
  cursor: pointer;
  font-weight: bold;
  border: 2px rgb(32, 43, 48) solid;
}

.links a:hover {
  border: 2px white solid;
  box-shadow: 0 0 2px white;
}

.account {
  grid-column: 3;
  align-self: center;
  justify-self: flex-end;
  margin-right: 20px;
}

.account .btn1 {
  margin: 5px;
  border: none;
  padding: 10px;
  width: 120px;
  background-color: transparent;
  border: 2px white solid;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}

.account .btn1:hover {
  background-color: white;
  color: rgb(32, 43, 48);
  box-shadow: 0 0 5px white;
}

.account .btn2 {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 20px;
}

.account .btn2:hover {
  background-color: white;
  color: rgb(32, 43, 48);
  box-shadow: 0 0 5px white;
}

.accountmenu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 70px;
  right: 0px;
  width: 165px;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  background-color: rgb(32, 43, 48);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 0 2px black;
}

.accountmenu .elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 98%;
}

.accountmenu .elements a {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  transition: all 0.2s ease;
}

.accountmenu .elements a:hover {
  color: rgb(32, 43, 48);
  background-color: white;
  box-shadow: 0 0 5px white;
}

@media screen and (max-width: 1300px) {
  .container {
  }
}
