.container {
  position: relative;
  min-height: 300px;
  max-height: 300px;
  min-width: 400px;
  width: 400px;
  background-color: white;
  box-shadow: 0 0 1px black;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

.containerExpand {
  max-height: 700px;
}

.toppanel {
  padding: 5px;
  padding-right: 10px;
  background-color: rgb(248, 248, 248);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.title {
  margin: 0px;
  padding: 10px;
  padding-top: 0px;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 0 1px black;
}

.content {
  padding: 15px;
  text-align: justify;
}

.todoBottom {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.todoBottomDiv {
  min-height: 80px;
}

.category {
  padding: 8px;
  padding-top: 20px;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 0 1px black;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 0.5) 100%
  );
}

.todoFixed {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.info {
  display: grid;
  padding: 8px;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
  grid-gap: 10px;
  background-color: rgb(255, 255, 255);
}

.info label {
  font-size: 12px;
  text-shadow: 0 0 1px black;
}

.info .createdat {
  grid-column: 1;
  justify-self: flex-start;
}

.info .lastedited {
  grid-column: 2;
  justify-self: flex-end;
}

.edittodo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.inputtitle {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px;
  width: 95%;
  align-self: center;
}

.textareadescription {
  width: 95%;
  height: 350px;
  padding: 10px;
  resize: none;
  font-size: 16px;
  text-align: justify;
  align-self: center;
}

.editbuttons {
  display: flex;
  gap: 8px;
  padding: 10px;
  padding-top: 0px;
}

.button {
  padding: 7px 20px;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: white;
  transition: all 0.2s ease-in-out;
}

.btn1 {
  background-color: rgb(50, 71, 82);
}

.btn2 {
  background-color: rgb(32, 43, 48);
}

.btn1:hover {
  background-color: rgb(63, 85, 99);
}

.btn2:hover {
  background-color: rgb(44, 62, 73);
}

.btn1:hover,
.btn2:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
}
