.container {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 90%;
  background-color: rgb(219, 219, 219);
}

.left {
  grid-column: 1;
  align-self: center;
}

.textdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  width: 85%;
  padding-bottom: 10px;
  border-bottom: 1px black solid;
}

.description {
  text-align: justify;
}

.right {
  grid-column: 2;
  align-self: center;
  margin-left: 20%;
}

.usercreated {
  background-color: rgb(172, 218, 172);
  border-radius: 10px;
  padding: 15px;
  border: 1px rgb(93, 153, 93) solid;
  margin-bottom: 10px;
  width: 60%;
  font-size: 12px;
  text-align: justify;
}

.form {
  padding: 40px;
  border-radius: 10px;
  height: fit-content;
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1px black;
}

.form h3 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
  text-shadow: 0 0 1px black;
}

.form input {
  align-self: center;
  justify-self: center;
  font-size: 16px;
  width: 100%;
  height: 60px;
  text-align: left;
  transition: all 0.2s ease-in-out;
  padding: 5px;
  margin-bottom: 10px;
}

.form input:focus {
  font-weight: bold;
}

.errors {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  color: rgb(255, 0, 0);
  text-shadow: 0 0 1px black;
  font-size: 11px;
}

.cb {
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 10px;
}

.cb .checkbox {
  width: 20px;
}

.cb label {
  margin: 0px;
  padding: 0px;
  margin-left: 5px;
  font-size: 14px;
}

.btn1 {
  margin-top: 10px;
  align-self: center;
  width: 100%;
  height: 60px;
  border: none;
  box-shadow: 0 0 10px white;
  background-color: rgb(32, 43, 48);
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn1:hover {
  box-shadow: 0 0 5px black;
}

.hasaccount {
  margin-top: 10px;
  font-size: 13px;
  text-align: justify;
  text-shadow: 0 0 1px rgb(32, 43, 48);
}

.hasaccount strong {
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .form {
    width: 90%;
  }
}

@media screen and (max-width: 640px) {
  .container {
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
  }

  .left {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
  }

  .right {
    margin: 0px;
  }

  .form {
    width: 100%;
  }
}
